  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;500&family=Crimson+Pro:wght@200&family=IBM+Plex+Serif:wght@300&family=Josefin+Sans:ital,wght@0,100;1,500&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600&display=swap');

  .pastCel{
    display: flex;
    margin-top:20px; 
    margin-left:1%;
    
}

.celebrityBox{
    width: 200px;
    height:100px;
    display:flex;
    align-items:center;
}
.celebrityBox:nth-child(1){
    width:100px;
}
.celebrityBox:nth-child(2){
    font-weight: 800;
    color:black;
    font-size: 20px;
    font-family: Poppins;
    width:400px;
    padding-left:20px;
}
.celebrityBox:nth-child(3){
    width:50px;
}
.celebrityBox:nth-child(1) .imgBox{

 width:92%;
 height:92%;
 border-radius:100%;

}
.celebrityBox:nth-child(1) .imgBox img{
        width:100%;
        height:100%;
        width:100%;
        height:100%;
        border-radius:100%;
        filter:contrast(130%);
}
.celebrityBox2{
    margin-left:auto;
    width:auto
}
.pastCel .celebLink{
    float:right;
}
.pastLink{
    text-decoration: none;
}
.pheading{
    font-size: 24px;
    font-weight: 700;
    color:black;
    margin-left:20px;
    margin-top:80px;
    margin-bottom:50px;
}
    

.pastCel .celebLink{
    display:flex;
    align-items:center;
    justify-content:center;
}
.bi-chevron-right{    
    color:black !important;
    font-weight: 900 !important;
} 
