.myCalendarcontainer {
   display:grid;
   grid-template-columns: repeat(7,minmax(75px,75px));
   /* grid-template-rows:repeat(5, minmax(30px,50px));    */
   font-weight: 600;
  }
  .weekDays{    
    font-weight: bold;
  }
  .weeks{
   display:grid;
   grid-template-columns:repeat(7,minmax(76px,76px));
   list-style: none;
   padding:0;
   margin:0;
   text-align:center;
  }
 
 
  
  .myCalCont{
    margin-top:52px;    
    float:right;
    width:30%;
    margin-right:4%;
  }
  .highlight{
    background-color:#4E176C!important;
    border-radius:100%;
    color:white !important;
    width:35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20%;
    font-size:19px;
  }

  .theme{
    background-color:#370a4e!important;
    border-radius:100%;
    color:white !important;

  }
  
  .monthdisplay{
    display:flex;
    justify-content:space-between;
  }
  .left,.right{
    font-size:1rem;
    cursor:pointer;
    margin-left:-20%;
    font-weight: 800 !important;
  }
  .left{
    margin-left:-21px;
  }
  .monthdisplay h2{
    font-size:11px !important;
  }
  .calHead{
    margin-bottom:30px;
    margin-left:20px;
    color:#4E176C;
  } 
  

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1.2fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.calendar-day {
  display: flex;
  background-color:rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 30px;
  
}

.calendar-day.highlight {
  background-color: yellow;
}
