.myCalendarcontainer {
   display:grid;
   grid-template-columns: repeat(7,minmax(75px,75px));
   grid-template-rows:repeat(5, minmax(30px,50px));   
   font-weight: 600;

   
  }
  .weekDays{    
    margin:0px 16px;
    font-weight: 800;
  }
  .weeks{
    
   display:grid;
   grid-template-columns: repeat(7,minmax(106px,106px));
   text-align:center;
  }
  .table ul{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(7,minmax(90px,97px)); 
    padding-left:0
    
  }
  .table ul li{
   font-weight: 600;
      
  }
  .myCalCont{
    margin-top:52px;    
    float:right;
    width:32%;
    /* margin-left:-20px; */
    padding:2px;
    
  }
  .highlight{
    background-color:#4E176C!important;
    border-radius:100%;
    color:white !important;
    width:35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20%;
    font-size:19px;
  }
  
  .monthdisplay{
    display:flex;
    justify-content:space-between;
  }
  .left,.right{
    font-size:1rem;
    cursor:pointer;
    margin-left:-20%;
    font-weight: 800 !important;
  }
  .left{
    margin-left:-21px;
  }
  .monthdisplay h2{
    font-size:11px !important;
  }
  .calHead{
    margin-bottom:30px;
    margin-left:20px;
  } 
  

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 30px;
}

.calendar-day.highlight {
  background-color: yellow;
}

  /* .calendar {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  .weekday {
    text-align: center;
    font-weight: bold;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  
  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .day-number {
    font-size: 18px;
  }
  
  .day-name {
    font-size: 14px;
    color: #888;
  }
   */