    .input{
        width:50vw;
        float:right;
        margin-top:5%;
        margin-right: 5%;
        margin-bottom:5%;
    }
    .MasonryContainer {
        border:12px solid yellow;
        position:relative;
    }
   
    .textBottom{
        /* position:absolute; */
        opacity:1;
        bottom:0;
        left:0%;
        transform:translate(0%,-300%);
        -ms-transform:translate(-50%,-50%);
        text-align:center;
    }

    .MasonryContainer:hover img{
        opacity:.2;
    }
    .MasonryContainer:hover .textBottom{
        opacity:1;
    }


    .submittedToPublic{
        /* background-color: yellow; */
        color: white;
        font-size: 20px;
        padding: 16px 32px;
    }
    .hightlightChallenges{
        background-color: purple !important;
    }